@import './reset.scss';

    .navbar-collapse {
        position: fixed;
        top: 50px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 240px;
        height: 100%;
        background-color: #fff;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;

    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
        
    }
    .navbar-toggler{
        border: none;
    }
    .container-fluid.main-content{
        background-color: #f9f9f9;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
   
        flex-wrap: inherit;
        align-items: center;
        flex-shrink: 0;
        justify-content: flex-start;
        // justify-content: space-between;
    }
    .navbar-top-width{
        width: calc(100% - 170px);
    }
    .circle-1{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #999999;
    }
    .nav-left-link{
        font-family: 'Roboto', sans-serif;
        height: 40px;
        padding-left: 26px;
        vertical-align: middle;
        display: flex;
        align-items: center;
    }
    .nav-left-logo{
        height: 23px;
        
    }
    .icon-logo{
        height: 23px;
        
    }
    .google-button{
        padding: 10px 20px;
        box-shadow: 0px 0px 2.41919px rgba(0, 0, 0, 0.084), 0px 2.41919px 2.41919px rgba(0, 0, 0, 0.168);
        transition: opacity 500ms ease-in-out;
    }
    .google-button:hover{
        transition: opacity 500ms ease-in-out;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.084), 2px 4px 4px rgba(0, 0, 0, 0.168);
    }
    .nav-left-link a:hover{
        color: inherit;
        background-color: #f4f4f4;
        transition: opacity 500ms ease-in-out;
    }
    .img-fit-nine-to-five{
        width: 100%;
        object-fit: cover;
        position: relative;
        padding-top: 55.56%;
    }
    .img-fit-to-ratio{
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        max-width: 100%; 
        height: auto;

    }
    .circle-youtube{
        height: 42px;
        width: 42px;
        border-radius: 50%;
        background-color: #666666;
        margin-right: 12px;
        margin-top: 3px;
    }
    .youtube-title{
        color: #030303;
        font-size: 14px;
        line-height: 16px;
    }
    .youtube-subtitle{
        color: #606060;
        font-size: 14px;
        line-height: 16px;
    }