@import './reset.scss';
    .navbar-light{
        background-color: #fff!important;
    }
    .navbar-collapse {
        position: fixed;
        top: 50px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 240px;
        height: 100%;
        background-color: #fff;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;

    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
        
    }
    .navbar-toggler{
        border: none;
    }
    .container-fluid.main-content{
        background-color: #f9f9f9;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
   
        flex-wrap: inherit;
        align-items: center;
        flex-shrink: 0;
        justify-content: flex-start;
        // justify-content: space-between;
    }
    .navbar-top-width{
        width: calc(100% - 170px);
    }
    .circle-1{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #999999;
    }
    .nav-left-link{
        font-family: 'Roboto', sans-serif;
        height: 40px;
        padding-left: 26px;
        vertical-align: middle;
        display: flex;
        align-items: center;
    }
    .nav-left-logo{
        height: 23px;
        
    }
    .icon-logo{
        height: 23px;
        
    }
    .google-button{
        padding: 10px 20px;
        box-shadow: 0px 0px 2.41919px rgba(0, 0, 0, 0.084), 0px 2.41919px 2.41919px rgba(0, 0, 0, 0.168);
        transition: opacity 500ms ease-in-out;
    }
    .google-button:hover{
        transition: opacity 500ms ease-in-out;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.084), 2px 4px 4px rgba(0, 0, 0, 0.168);
    }
    .nav-left-link a:hover{
        color: inherit;
        background-color: #f4f4f4;
        transition: opacity 500ms ease-in-out;
    }
    .img-fit-nine-to-five{
        width: 100%;
        object-fit: cover;
        position: relative;
        padding-top: 55.56%;
    }
    .img-fit-to-ratio{
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        max-width: 100%; 
        height: auto;

    }
    .circle-youtube{
        height: 42px;
        width: 42px;
        border-radius: 50%;
        background-color: #666666;
        margin-right: 12px;
        margin-top: 3px;
    }
    .youtube-title{
        color: #030303;
        font-size: 14px;
        line-height: 16px;
    }
    .youtube-subtitle{
        color: #606060;
        font-size: 14px;
        line-height: 16px;
    }
    .btn-plus-category{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        color: #6E50A2;
        border: 1px solid #6E50A2;
        padding: 10px;
        background-color: transparent!important;
    }
    .btn-plus-category:hover{
        transition: opacity 500ms ease-in-out;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.084), 2px 4px 4px rgba(0, 0, 0, 0.168);
    }
    .btn-plus-input{
        height: 50px;
        margin: 0px 10px 10px 10px;
        border-radius: 4px;
        color: #6E50A2;
        border: 1px solid #6E50A2;
        padding: 10px 20px;
        background-color: #fff;
    }
    .btn-plus-input:hover{
        transition: opacity 500ms ease-in-out;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.084), 2px 4px 4px rgba(0, 0, 0, 0.168);
    }
    .resize-category{
        width: 800px;
        max-width: 66%;
    }
    @media(max-width: 992px){
        .resize-category{
            max-width: 100%;
        }
    }
    .btn-plus-input{
        input{
            width: 100%;
            background-color: transparent!important;
            border: none;
            color: #6e50a2!important
        }
    }
    .btn-save-keyword{
        padding: 10px 20px;
        color: #fff;
        background-color: #6E50A2;
        border-radius: 4px;
    }
    .btn-save-keyword:hover{
        color: #fff;
        transition: opacity 500ms ease-in-out;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.084), 2px 4px 4px rgba(0, 0, 0, 0.168);
    }
    .keyword-list{
        height: 58px;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        background-color: #fff;
        padding: 14px 24px;
    }
    .keyword-plus{
        border: 1px solid #6e50a2;
        color: #6e50a2;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: #f2f2f2;
    }
    .keyword-plus:hover{
        transition: opacity 500ms ease-in-out;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.084), 2px 4px 4px rgba(0, 0, 0, 0.168);
    }
    .btn-keyword{
        height: 30px;
        padding: 7px 12px;
        margin-left:10px;
        margin-right:10px;
        background-color: #f2f2f2;
        border: 1px solid #d9d9d9;
        border-radius: 1rem;
    }
    .btn-keyword{
        input{
            position: relative;
            top:-2px;
            width: 100%;
            background-color: transparent!important;
            border: none;
            color: #030303!important
        }
    }
    .youtuber-search{
        width: 138px;
        height: 138px;
        border-radius: 50%;

    }
    .youtube-video{
        width: 100%;
       padding-top: 55.56%;
       height: 0;
        background-color: gray;
    }
    .playlist-draggable{
        border: 1px solid #c4c4c4;
        border-radius: 10px;
        padding: 17px;
    }